/* .............................Parte de Melisa Jiménez............................. */


html {
    height: 100vh;
}

.logincontainer {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50em;
    background-color: var(--light-bg-solid);
    padding-bottom: var(--spacing-16);
    border-radius: 0.625rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    
}

.form-container {
    max-width: 50rem;
    padding: 1rem;
    margin: 0 auto;
}

.completaform {
padding-top: 4rem;
}

html {
    text-align: center !important;
}

.email ,
.password 
{

    font-size: 2rem !important;
    text-align: center !important;
    justify-items: center;

}

.email {
    padding-right: 2rem;
}

.form__group {
    display: grid;
    flex-direction: column;
    margin: auto;
    font-size: 8em;
    margin-bottom: 10rem;
}

.transparent-input {
    border: none !important;
    border-bottom: 2px solid red !important;
    background-color: transparent !important;
    box-shadow: none !important;
    font-size: 1em !important;
    /* background: linear-gradient(to top, rgba(234, 178, 178, 0.205), rgba(250, 250, 250, 0.205)); */
}
.transparent-input:focus {
    color:  black;
    border: none !important;
    border-bottom: 2px solid red !important;
    background-color: transparent !important;
    box-shadow: none !important;
    background: linear-gradient(to top, rgba(234, 178, 178, 0.452), rgba(250, 250, 250, 0.205));
}
.black-link {
    color: black;
    font-size: 2.5rem; 
    padding: 2rem;
}
.form-check-label {
    font-size: 3rem;
    padding: 0.5rem ;
}
.btn-danger {
 max-width: 10rem !important;
    font-size: 1.5rem !important;
    padding: 0.5rem;
}

.form-check-input {
    position: static !important;
    margin-top: 0.3rem;
    margin-left: -1.25rem;
    padding: 1.5rem !important;
}

.input-container {
    display: flex;
    align-items: center;
}

.input-container label {
    margin-left: 1rem;
}


.form__submit {
    display: flex;
    align-items: center;
    gap: var(--spacing-36);
    justify-content: center;
    margin: var(--spacing-16) 0;
}


#emaillabel {
    font-size: 2.2rem ; padding-right: 5rem;  margin: 1rem;
}

#passwordlabel {
font-size: 2.2rem; padding-right: 1rem;
}


.contact-form{
    background-color: rgb(255, 255, 255);
    width: 95%;
    padding: 6em;
    padding-bottom: 4em;
    box-shadow: -5px 5px 40px rgba(105, 104, 104, 0.746);
    border-radius: 1em;
    height: 100%;
}

input, textarea {
    border-radius: 0.3em !important;
}

button {
    font-size: 6em !important;
    background-color:var(--primary-solid);;
    border: none;
    padding: 0.3em;
    border-radius: 0.2em !important;
    color: white;

}


@media screen and (min-width: 767px){
    .form__group{
        font-size: 2rem;
        margin-bottom: 2em;
    }
    .contact-form{
        width:70%;
        padding: 2em;
        height: 100%;
    }
    button {
        font-size: 2em !important;
    }
}