/* .............................Parte de Melisa Jiménez............................. */

.contactobackground {

  margin-bottom: 5rem;
}

.card-body {
  background: linear-gradient(to right, #ffffff4f, #f7cccc);
  border-radius: 5rem;
  border: 1px outset var(--light-bg-solid);
}

.card-body:hover {
  background: linear-gradient(to right, #f8c9c9c5, #eceaea60);
  border-radius: 5rem;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  background-color: transparent;

  border: none !important;
}


.card-title {
  font-size: 3rem !important;
}

.cartel {

  width: 50%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background-color: var(--light-bg-solid);
  padding: var(--spacing-8);
  margin: 0 auto;
  border-radius: 50px;
  font-weight: 500;
  text-align: center;
  transition: all 0.3s ease-in-out;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.cartel a {
  text-decoration: none;
  color: inherit;
}

.cartel:hover {
  background-color: var(--primary-900);
  color: var(--light-font-solid);
}



/* mensaje principal */
.mensaje {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

/*lista de redes sociales */
.redes-sociales {
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
}

.redes-lista {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.redes-lista li {
  margin-bottom: 10px;
}

/*lista de números de contacto por sucursal */
.sucursales-tel {
  font-size: 10rem;
  font-weight: bold;
  margin-top: 20px;
}

.sucursales-lista {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sucursales-lista li {
  margin-bottom: 10px;
}


/*sucursales tarjeta estilo*/
.card-img-top,
.card-img-overlay {
  border-radius: 5rem !important;
}

.list-unstyled {
  text-align: center !important;
  margin: auto;
  display: flex;
  justify-content: center;
  font-weight: 700;
  text-shadow: 2px 2px 2px #000000 !important;
}

.iconify {
  font-size: 3rem !important;
  margin-right: 0.5rem;
  text-shadow: 2px 2px 2px #000000 !important;
}



/* "Si deseas enviarnos comentarios" y "Si deseas trabajar con nosotros" */
.enviar-comentarios,
.trabajar-con-nosotros {
  font-size: 16px;
  margin-top: 20px;
}

.enviar-comentarios a,
.trabajar-con-nosotros a {
  text-decoration: none;
  color: #007BFF;
  font-weight: bold;
}

.enviar-comentarios a:hover,
.trabajar-con-nosotros a:hover {
  text-decoration: underline;
}






.contacto-info {
  text-align: center;
  font-size: 24px;
}

.titulos {
  font-family: var(--base-font);
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  color: var(--dark-solid);
  padding: 10px;

}


/* @media screen and (max-width: 1000px) {
  
  .container {
      max-width: 90%; 
  }
  
}


@media screen and (max-width: 600px) {
  
  .container {
      max-width: 100%; 
  }
 
} */

@media screen and (min-width: 500px) and (max-width: 768px) {

  .mensaje {
    font-size: 6rem;
  }

  .card-title {
    font-size: 6rem;
  }

  .iconify-icon {
    font-size: 10rem !important;
  }


  .list-unstyled {
    font-size: 6rem;
    text-align: center;
  }

  .iconify {
    font-size: 6rem !important;
  }

  .col-md-6 {
    display: flex;
    justify-content: center;
    padding: 2rem;
  }

  .cartel a {
    font-size: 7rem;
  }

}


@media screen and (min-width: 325px) and (max-width: 499px) {

  .mensaje {
    font-size: 6rem;
  }

  .card-title {
    font-size: 6rem;
  }

  .iconify-icon {
    font-size: 10rem !important;
  }

  .list-unstyled {
    font-size: 6rem;
    text-align: center;
  }

  .iconify {
    font-size: 6rem !important;
  }

  .col-md-6 {
    display: flex;
    justify-content: center;
    padding: 2rem;
  }

  .cartel a {
    font-size: 5rem;
  }

  .cartel {
    width: 100rem;
  }


}

@media screen and (min-width: 220px) and (max-width: 324px) {

  .mensaje {
    font-size: 6rem;
  }

  .card-title {
    font-size: 6rem;
  }

  .iconify-icon {
    font-size: 10rem !important;
  }

  .container {
    width: 50rem !important;
    display: flex;
    flex-direction: row;
    align-content: center;
    /* margin-left: -4rem !important;
  margin-right: 8rem !important; */
  }

  .col-md-5 {
    margin-left: -20rem !important;
    margin-right: 8rem !important;
  }


  .list-unstyled {
    font-size: 3rem !important;
    text-align: center;
  }

  .iconify {
    font-size: 3rem !important;
  }

  .col-md-6 {
    height: 10rem;
    display: flex;
    justify-content: center;
    padding: 2rem;
    margin-top: 10rem;
  }

  .card {
    display: flex;
    justify-content: center;
    width: 100% !important;
    margin: 10rem !important;


  }

  .row {
    display: flex;
    justify-content: center;
  }

  .ml-auto,
  .mx-auto {
    margin-left: 10rem !important;
    margin-right: 10rem !important;
  }

  .text-center {
    font-size: 5rem;
  }


  .cartel a {
    font-size: 5rem;
  }

  .cartel {
    width: 60rem;
  }



}




@media screen and (min-width: 194px) and (max-width: 200px) {

  .mensaje {
    font-size: 6rem;
  }

  .card-title {
    font-size: 6rem;
  }

  .iconify-icon {
    font-size: 10rem !important;
  }

  .container {
    width: 100%;
  }

  .ml-auto,
  .mr-auto,
  .mx-auto {
    margin: 0 !important;
  }

  .list-unstyled {
    font-size: 3rem !important;
    text-align: center;
  }

  .iconify {
    font-size: 3rem !important;
  }

  .col-md-6 {
    height: 10rem;
    display: flex;
    justify-content: center;
    padding: 2rem;
  }

  .card {

    width: 100rem !important;
    margin: 10rem;

  }

  .row {
    display: flex;
    justify-content: center;
  }

  .ml-auto,
  .mx-auto {
    width: 50rem;
  }

}





/*.............................Fin de la parte de Melisa Jiménez............................. */