/* .............................Parte de Melisa Jiménez............................. */


:root {
    /* Paleta de colores */
    --primary-solid: #FF3333;
    --primary-900: rgb(255, 51, 51, 0.9);
    --primary-500: rgb(255, 51, 51, 0.5);
    --primary-300: rgb(255, 51, 51, 0.3);
    --secondary-solid: #1D8485;
    --secondary-900: rgb(29, 132, 133, 0.9);
    --secondary-500: rgb(29, 132, 133, 0.5);
    --secondary-300: rgb(29, 132, 133, 0.3);
    --dark-solid: #1f1f1f;
    --dark-900: rgb(31, 31, 31, 0.9);
    --dark-500: rgb(31, 31, 31, 0.5);
    --dark-300: rgb(31, 31, 31, 0.3);
    --dark-bg-solid: #30343F;
    --light-bg-solid: #FAFAFF;
    --light-font-solid: #FFFFFF;

    /* Typography */
    --base-font: 'Inter', sans-serif;
    --alternative-font: 'Roboto', sans-serif;
    --cursive-font: 'Lobster', cursive;
    --poppins-font: 'Poppins', sans-serif;
    /* font-family: 'Inter', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */

    /* Font sizes */
    --font-display: 4.6em;
    --font-jumbo: 3.8em;
    --font-xlarge: 3em;
    --font-large: 2.4em;
    --font-medium: 1.8em;
    --font-small: 1.6em;
    --font-xsmall: 1.2em;

    /* Spacings */
    --spacing-128: 12.8rem;
    --spacing-68: 6.8rem;
    --spacing-36: 3.6rem;
    --spacing-28: 2.8rem;
    --spacing-24: 2.4rem;
    --spacing-20: 2.0rem;
    --spacing-16: 1.6rem;
    --spacing-12: 1.2rem;
    --spacing-8: 0.8rem;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    /* height: 100%; */
    height: 100vh;
    margin: 0;
    padding: 0;
}


html {
    font-family: var(--base-font);
    font-size: 62.5%;
    color: var(--dark-solid);
}

a {
    text-decoration: none;
    font-family: inherit;
    color: inherit;
}


header,
footer {
    font-family: var(--alternative-font);
    color: var(--light-font-solid) !important;
}

/* HEADER */

header {
    background-color: var(--dark-bg-solid);
    padding: var(--spacing-12);
}

ul,
ol {
    list-style-type: none;
}

p {
    font-size: 1.8em;
}

img {
    width: 100%;
}

h1 {
    text-align: center;
}





.container {
    max-width: 1200px;
    max-height: 2500px;
    margin: 0 auto;
}




/* HERO BANNER*/

.hero {
    background-image: url(../img/pizza-horno.webp);
    padding: var(--spacing-128);
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.hero::before {
    content: '';
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(2px) brightness(.9);
}

.hero__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-20);
    align-items: start;
    z-index: 2;
    position: relative;
}

.hero__title {
    font-family: var(--alternative-font);
    font-size: var(--font-jumbo);
    color: var(--light-font-solid);
}

.hero__text {
    font-family: var(--alternative-font);
    font-size: var(--font-medium);
    color: var(--light-font-solid);
}

.hero__link {
    display: inline-block;
    font-size: var(--font-medium);
    color: var(--dark-bg-solid);
    background-color: var(--light-bg-solid);
    padding: var(--spacing-12) var(--spacing-68);
    border-radius: 50px;
    font-weight: 500;
    transition: all .3s ease-in-out;
}

.hero__link:hover {
    background-color: var(--primary-900);
    color: var(--light-font-solid);
}





.main-container {
    padding: var(--spacing-68);
    background: var(--light-bg-solid);
    background-image: url(../img/fondo.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    filter: contrast(5.2) brightness(5.1) saturate(-20);

}


.main-container .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: var(--spacing-128);  */
}



/*titulosseparadores*/

.titulosseparadores-container {
    text-align: center;
    /* margin: var(--spacing-24) auto;  */

}

/* Estilo para el título */
.titulosseparadores {
    font-family: var(--base-font);
    font-size: 5.5rem;
    /* ajusta este valor según tus necesidades */
    font-weight: bold;
    text-align: center;
    color: var(--dark-solid);
    padding: 1.25rem;
    /* ajusta este valor según tus necesidades */
    margin-bottom: 3.75rem;
    /* ajusta este valor según tus necesidades */
    border-top: 0.75rem double var(--primary-solid);
    /* ajusta este valor según tus necesidades */
    border-bottom: 0.75rem double var(--primary-solid);
    /* ajusta este valor según tus necesidades */
}

/* titulos subrayados */

.titulosubrayados {
    font-family: var(--base-font);
    font-size: 1.875rem;
    /* ajusta este valor según tus necesidades */
    font-weight: bold;
    text-align: center;
    color: var(--dark-solid);
    padding: 2.5rem;
    /* ajusta este valor según tus necesidades */
    margin-bottom: 6.25rem;
    /* ajusta este valor según tus necesidades */
}


/* TARJETAS DE PIZZAS*/


.col {
    height: 38rem;
    width: 35rem !important;
    padding: var(--spacing-12);
    border-radius: 5rem !important;
    padding-bottom: 4rem;

}

.card {
    display: flex;
    border-radius: 5rem !important;
    width: 25rem !important;
    justify-content: center !important;
    margin: auto 0 !important;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);

}



/* ELEMENTOS */


.elemento-container {
    width: 1100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--spacing-24);
    margin: 0 auto;
}


.elemento {
    max-width: calc(50% - var(--spacing-12));
    flex: 1 1 calc(50% - var(--spacing-12));
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--spacing-36);
    border: 1px dotted #cfcccc;
    background-color: rgba(255, 255, 255, 0.9);
    text-align: center;
}


.elemento__pizza {
    max-width: 24%;
    flex: 1 1 calc(50% - var(--spacing-12));
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: left;
    padding: var(--spacing-36) var(--spacing-36) var(--spacing-68) var(--spacing-36);
    border: 1px dotted #cfcccc;
    background-color: var(--light-bg-solid);
    text-align: center;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s;
    transform-origin: center center;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}



.elemento__pizza .elemento__content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    padding-top: 0;
    padding-bottom: var(--spacing-12);

    text-align: center;
    /* opacity: 0; 
    transition: opacity 0.3s;  */
}




.elemento__pizza:hover .elemento__content {
    opacity: 1;
}


.elemento__pizza:hover {
    /* background-color: var(--primary-900);
    transition: background .3s ease-in-out; */
    transform: scale(1.1);
}

.elemento__content {

    display: block;
    flex-direction: column;
    gap: var(--spacing-8);
    align-items: start;
}






.elemento__cover img {
    max-width: 80%;
    height: auto;
    object-fit: cover;

}





.elemento__title {
    text-align: center;
    font-family: var(--alternative-font);
    font-size: var(--font-large);
    font-weight: 50;
    padding: var(--spacing-12);

}

.elemento__text {
    text-align: center;
    font-family: var(--alternative-font);
    font-size: var(--font-small);
    font-weight: 300;
    padding-top: var(--spacing-8);
}

.elemento__link {
    text-align: center;
    display: inline-block;
    font-size: var(--font-medium);
    background-color: var(--dark-bg-solid);
    color: var(--light-font-solid);
    padding: var(--spacing-16) var(--spacing-36);
    border-radius: 50px;
    font-weight: 500;
}



.elemento__pizza .elemento__text {
    display: none;
}

.elemento__pizza:hover .elemento__text {
    display: block;
}


.custom-btn {
    border-radius: 12px;
}

.elemento__pizza {
    transition: transform 0.3s;
}

.elemento__pizza:hover {
    transform: scale(1.1);
}

.card {
    border-radius: 20px;
}


/* div.botonblancoarojo {
    width: 300px;
    height: 80px;
    display: flex; 
    justify-content: center;
    align-items: center;
    font-size: var(--font-medium);
    background-color: var(--light-bg-solid);
    padding: var(--spacing-8); 
    margin: 0 auto; 
    border-radius: 50px;
    font-weight: 500;
    text-align: center;
    transition: all 0.3s ease-in-out;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

div.botonblancoarojo a {
    text-decoration: none; 
    color: inherit; 
}

div.botonblancoarojo:hover {
    background-color: var(--primary-900);
    color: var(--light-font-solid) !important;
} */



/*DELIVERY*/

/* .titulo__delivery{
   
        /* text-align: center;  */
/* margin: var(--spacing-24) auto;  */

/* font-family: var(--base-font);
        font-size: var(--font-display);
        font-weight: bold;
        text-align: center;
        color: var(--dark-bg-solid);
        padding: 20px;
        margin-bottom: 20px; */
/* background-color: var(--dark-bg-solid); */
/* border-top: 4px double var(--primary-solid);
    border-bottom: 4px double var(--primary-solid); */


.delivery {
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}

.iconos__delivery img {
    height: 25%;
    width: 25rem;
    border-radius: 50%;
    margin: var(--spacing-20) 10px;
    margin-top: 0;
    padding: var(--spacing-36);


}

.iconos__delivery:hover {
    transform: scale(1.1);

}


/*FIN DELIVERY*/




/* Sección de sucursales */
.sucursales {
    padding: var(--spacing-8) 0;
    text-align: center;

}

.sucursales-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;

}

.sucursal {

    width: 70rem;
    height: 70rem;
    padding: var(--spacing-36);
    margin-bottom: var(--spacing-68);
    border: 1px solid #ddd;
    border-radius: 50px;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;

}

/* .sucursal:hover {
    background-color: rgba(0, 0, 0, 0.7);
    transform: scale(1.1);
    
}  */


.sucursal:before {
    color: var(--light-bg-solid);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    z-index: -1;
}

.sucursal-parrafo {
    font-size: 4.1rem !important;
    padding-bottom: 2rem;
}

.sucursal-titulo {
    font-size: 6rem;
}



.sucursal-pinamar {

    background-image: url('../img/sucursales/pizza1.webp');
    background-size: cover;
    background-position: center;

}





.sucursal-caseros {
    background-image: url('../img/sucursales/pizza3.webp');
    background-size: cover;
    background-position: center;
}






.sucursal h3 {
    font-size: var(--font-display);
    color: var(--light-bg-solid);
    padding: var(--spacing-24);
    padding-top: var(--spacing-8);
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 2px 2px 0 black;
    /* Borde negro al texto */
}

.sucursal p {
    font-size: var(--font-small);
    line-height: var(--spacing-36);
    color: var(--light-bg-solid);
    margin-bottom: var(--spacing-8);
    text-align: center;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 2px 2px 0 black;
}



/*----------------------------MAPAS---------------------------------------------*/

iframe {
    max-width: 200rem;
    max-height: 100rem;
    border: 4px groove var(--primary-900);

}

/*------------------------------------------------FIN MAPAS-----------------------------------------------------------------*/

/* --------------------Estilo para la sección de Historia de la Pizzería --------------------*/
.historia {
    background-color: var(--dark-bg-solid);
    padding: var(--spacing-36);
    border-radius: 100px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin: var(--spacing-68) auto;
    text-align: center;
}

.historia__content {
    font-family: var(--alternative-font);
    font-size: var(--font-medium);
    color: var(--light-font-solid);
    line-height: 1.5;
    text-align: left;
    padding: 20px;

}

.historia__image {
    float: right;
    margin-left: 10px;

}

.historia__image img {

    height: 50rem;
    float: right;

}

.historia__text {
    display: inline-block;
    vertical-align: top;
    flex: 1;
    padding: 15px;
}

.historia__title {

    text-align: center;
    font-family: var(--base-font);
    font-size: var(--font-display);
    font-weight: bold;
    text-align: center;
    color: var(--dark-bg-solid);
    padding: 20px;
    margin-bottom: 20px;
    border-top: 4px double var(--primary-solid);
    border-bottom: 4px double var(--primary-solid);
}

/*fin de historia*/








/* Estilos generales del footer */
.footer {
    background-color: var(--dark-bg-solid);
    padding: var(--spacing-8);
    color: white;
}

/* Estilos para el rectángulo con los elementos */
.footer__rectangle {
    height: 50%;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    margin-bottom: var(--spacing-4);
    padding: var(--spacing-12);
}

/* Estilos para el logo a la izquierda */
.footer__logo {
    width: 10%;
    align-items: center;
    justify-content: center;
}

/* Estilos para el botón en el medio */
.footer__button {
    flex-grow: 1;
    text-align: center;
    font-size: var(--font-medium);
    font-family: var(--alternative-font);
}

.footer__button a {
    background-color: var(--primary-color);
    color: white !important;
    padding: var(--spacing-8);
    text-decoration: none;
    border-radius: 4px;
}

.footer__button:hover {
    transform: scale(1.2);
}

/* Estilos para la información de horarios y sucursales a la derecha */
.footer__info {
    text-align: center;
    justify-items: left;
    font-size: var(--font-xsmall);
    font-family: var(--alternative-font);

}

/* Estilos para la línea separadora */
.footer__line {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
    border: none;
    height: 1px;
}

/* Estilos para los logos de redes sociales */
.footer__social {
    height: 20%;
    text-align: center;
    margin: var(--spacing-4) 0;
    font-family: var(--alternative-font);
    margin: var(--spacing-12);
}

.footer__social p {
    margin-bottom: var(--spacing-12);
}

.navbar__social {
    font-size: var(--font-medium);
    margin: var(--spacing-2);
    text-decoration: none;
    color: white !important;
    padding: var(--spacing-12);
}

.navbar__social:hover iconify-icon {
    transform: scale(1.6);
}

/* Estilos para los derechos de autor y créditos */
.footer__copy {
    text-align: center;
    font-size: var(--font-xsmall);
    margin-top: var(--spacing-4);
}

.copyright {
    font-size: 11px;

}

cite {
    font-size: 10px;
    display: block;

}




/*SLIDER*/

.slider {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-36);
    margin: var(--spacing-68) auto;
    background-color: rgba(255, 255, 255, 0.9);
}

.slider__title {
    font-family: var(--alternative-font);
    font-size: var(--font-display);
    text-transform: uppercase;
}

.slider__items {
    display: flex;
    gap: var(--spacing-24);
}



.card-item__cover {
    display: flex;
    position: relative;

}

.card-item__tag {
    font-size: var(--font-xsmall);
    text-transform: uppercase;
    background-color: var(--primary-solid);
    color: var(--light-font-solid);
    padding: var(--spacing-8) var(--spacing-12);
    position: absolute;
    right: 0;
}




.card-item__cover img {
    /* animation: fade .7s; */
    filter: brightness(70%);
    transition: filter 0.3s ease;
}


.card-item__cover:hover .card-item__img--front {
    filter: none;
}




.card-item__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-12);
    padding: var(--spacing-16);
}







.card-item__title {
    font-size: var(--font-xsmall);
    font-weight: 500;
}


.card-item__name {
    font-size: var(--font-medium);
    font-weight: 700;
}

.card-item__price {
    font-size: var(--font-small);
}

.card-item__promo {
    font-size: var(--font-xsmall);
    color: var(--secondary-solid);
    font-weight: 700;
}



/*---------------------------------MEDIA QUERIES--------------------------------------------*/









@media screen and (max-width: 768px) {


    html {
        font-size: 20%;
    }
    .hero {display: none;}



    /*hero inicio*/

    .hero__content .container {
        height: 20rem;
        font-size: 4rem;
    }

    .hero__title {
        font-size: 6rem;
    }

    .hero__text {
        font-size: 4rem;
    }

    .hero__link {
        font-size: 4rem;
    }


    /*hero fin*/

    .elemento-container {
        width: 60%;
        gap: var(--spacing-12);
    }

    .elemento {
        max-width: 60%;
        flex: 1 1 100%;
        padding: var(--spacing-24);
    }

    .elemento__pizza {
        max-width: 30%;
        flex: 1 1 50%;
        padding: var(--spacing-24);
    }

    .sucursales-container {
        display: flex;
        flex-direction: column;
        width: 200rem;
        font-size: 2rem;
    }

    .sucursal {
        width: 160rem;
        height: 100rem;
        font-size: 4rem;
    }



    .historia {
        padding: var(--spacing-8);
    }

    .historia__image {
        float: none;
        margin-left: 0;
    }

    .historia__image img {
        height: auto;
        width: 40%;
        margin-bottom: var(--spacing-12);
    }

    .historia__text {
        display: block;
        text-align: center;
        font-size: var(--font-xsmall);
    }

    .historia__title {
        font-size: var(--font-small);
        padding: var(--spacing-12);
        margin-bottom: var(--spacing-8);
        border-top: 2px double var(--primary-solid);
        border-bottom: 2px double var(--primary-solid);
    }


    .botonblancoarojo {
        width: 20%;
        height: 10%;
        font-size: var(--font-small);
    }


    .iconos__delivery img {
        height: 90%;
        width: 90%;
    }

    .delivery {

        max-width: 100%;
        flex: 1 1 100%;
        padding: var(--spacing-8);
    }

    .iconos__delivery {

        width: 90%;
        height: 90%;
    }





    iframe {
        max-width: 120rem;
        max-height: 100rem;
    }


    .footer {
        height: 120rem;

    }

    .footer__rectangle {
        flex-direction: column;
        font-size: 3rem;
    }

    .footer__logo {
        height: 40rem;
        width: 40rem;
        justify-content: center;
        margin-left: 10rem;
    }

    .footer__copy {
        text-align: center;
        width: 100%;
        max-height: 50%;
        font-size: 8px;
    }


    hr {
        margin-top: 5rem !important;
        margin-bottom: 5rem !important;
    }

    .footer__social {
        padding-top: 5rem;
        font-size: 3rem;
    }

    .footer__copy {

        font-size: 5rem;
    }

    .copyright {
        text-align: center;
        width: 100%;
        max-height: 10rem;
        font-size: 6rem;
    }


    cite {
        text-align: center;
        width: 100%;
        max-height: 15rem;
        font-size: 3rem !important;
    }

    img {
        width: 70%;
    }
}



@media screen and (min-width:769px) and (max-width:1280px) {


    /*hero inicio*/




    /*hero fin*/

    .elemento-container {
        width: 80%;
        gap: var(--spacing-12);
    }

    .elemento {
        max-width: 80%;
        flex: 1 1 100%;
        padding: var(--spacing-24);
    }

    .elemento__pizza {
        max-width: 30%;
        flex: 1 1 50%;
        padding: var(--spacing-24);
    }


    .sucursales-container {
        display: flex;
        flex-direction: column;
        width: 50rem;
        font-size: 2rem;
    }

    .sucursal {
        width: 50rem;
        height: 50rem;

        padding: 2rem;
    }

    .sucursal-titulo {
        font-size: 3.5rem !important;
    }

    .sucursal-texto,
    .sucursal-parrafo {
        font-size: 2.5rem !important;
    }


    .historia__image {
        float: none;
        margin-left: 0;
    }

    .historia__image img {
        height: auto;
        width: 40%;
        margin-bottom: var(--spacing-12);
    }

    .historia__text {
        display: block;
        text-align: center;
        font-size: 1.5rem;
    }

    .historia__title {
        font-size: var(--font-small);
        padding: var(--spacing-12);
        margin-bottom: var(--spacing-8);
        border-top: 2px double var(--primary-solid);
        border-bottom: 2px double var(--primary-solid);
    }



    .botonblancoarojo {
        width: 40%;
        height: 10%;
        font-size: var(--font-small);
    }

    .delivery {

        max-width: 100%;
        flex: 1 1 100%;
        padding: var(--spacing-8);
    }

    .iconos__delivery {
        max-width: 100%;
        flex: 1 1 50%;
        padding: var(--spacing-8);
    }

    .iconos__delivery img {
        max-width: 15rem;
        flex: 1 1 40%;
        padding: var(--spacing-8);
        height: 15rem;

    }

    .titulosubrayados {
        font-size: 3rem;
    }

    iframe {
        max-width: 120rem;
        max-height: 100rem;
    }


    .footer {
        height: 82rem;

    }

    .footer__rectangle {
        flex-direction: column;
        font-size: 1.5rem;
    }

    .footer__logo {
        height: 40rem;
        width: 40rem;
        justify-content: center;

    }

    .footer__copy {
        text-align: center;
        width: 100%;


        font-size: 2rem;
    }




    hr {
        margin-top: 5rem !important;
        margin-bottom: 5rem !important;
    }

    .footer__social {

        font-size: 1.5rem;
    }



    .copyright {
        text-align: center;


        font-size: 2rem;
    }


    cite {
        text-align: center;


        font-size: 2rem !important;
    }


}




@media screen and (min-width:600px) and (max-width:768px) {



    .img-fluid {
        margin: auto 0 !important;

        width: 125em !important;
        justify-self: center !important;

        padding-bottom: 3rem !important;

    }



    .titulosseparadores {
        font-size: 8rem;
    }


    .hero {
        height: 120rem;
    }

    .hero__title {
        font-size: 12rem;
    }

    .hero__text {
        font-size: 9rem;
    }

    .hero__link {
        font-size: 7rem;
    }

    /* .img-fluid {
    height: 20rem !important; 
    width: 100rem;
    padding: 2rem 0 4rem 0;
} */

    .col {
        height: 130rem !important;
        width: 100rem !important;
        padding: var(--spacing-12);
        border-radius: 5rem !important;
        padding-bottom: 4rem;

    }

    .card {
        display: flex;
        border-radius: 5rem !important;
        width: 80rem !important;

        justify-content: center !important;
        margin: auto 0 !important;
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);


    }

    .card-title {
        font-size: 8.5rem !important;
    }

    .card-text {
        font-size: 7.5rem !important;
    }

    .fotopizza {
        width: 30rem !important;
        height: 30rem;
        padding: 1rem;
    }


    /*resto*/

    .titulosubrayados {
        font-size: 8rem;
    }

    .titulosseparadores {
        font-size: 14rem;
    }

    .btn {
        padding: 3rem 4rem;
        border-radius: 1.5rem;
        font-size: 6.5rem !important;

    }




    .iconos__delivery img {
        height: 40rem;
        width: 40rem;
        flex: 1 1 50%;
    }

    .delivery {

        max-width: 100%;
        flex: 1 1 100%;
        padding: var(--spacing-8);
    }

    .iconos__delivery {

        width: 70%;
        height: 70%;
    }

    .historia__text {
        font-size: 5rem;
    }



    .sucursales-container {
        display: flex;
        flex-direction: column;
        width: 160rem;
        font-size: 2rem;
    }

    .sucursal {
        width: 160rem;
        height: 150rem;

        padding: 2rem;
    }

    .sucursal-titulo {
        font-size: 10.5rem !important;
    }

    .sucursal-texto,
    .sucursal-parrafo {
        font-size: 8.5rem !important;
        padding-bottom: 5rem;


    }

    .sucursal p {
        font-size: var(--font-medium);
        line-height: var(--spacing-128) !important;
        color: var(--light-bg-solid);
        margin-bottom: var(--spacing-8);
        text-align: center;
        text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 2px 2px 0 black;
    }





    iframe {
        max-width: 100rem;
        max-height: 80rem;
    }


    .footer {
        height: 210rem;

    }

    .footer__rectangle {
        flex-direction: column;
        font-size: 4.5rem;
    }

    .footer__logo {
        height: 80rem;
        width: 80rem;
        justify-content: center;
        margin-left: 25rem !important;
    }

    .footer__copy {
        text-align: center;
        width: 100%;
        max-height: 50%;
        padding-top: 5rem;
        font-size: 5rem;
    }

    .footer__button {
        padding-top: 2rem;
        margin-bottom: 3rem;
    }


    hr {
        margin-top: 5rem !important;
        margin-bottom: 5rem !important;
    }

    .footer__social {

        font-size: 5rem;
    }



    .copyright {
        text-align: center;
        width: 100%;
        max-height: 10rem;
        font-size: 6rem;
    }


    cite {
        text-align: center;
        width: 100%;
        max-height: 15rem;
        font-size: 6rem !important;
    }



}












@media screen and (min-width:402px) and (max-width:600px) {


    .submenu__link {
        font-size: 6rem;
    }


    .img-fluid {
        margin: auto 0 !important;

        width: 80%;
        justify-self: center !important;

    }



    .hero {
        height: 120rem;
    }

    .hero__title {
        font-size: 9rem;
    }

    .hero__text {
        font-size: 7rem;
        font-weight: 500;
    }

    .hero__link {
        font-size: 6rem;
    }

    .titulosseparadores {
        font-size: 10rem;
    }

    .navbar__logo {
        display: flex;
        margin-left: 10rem;

        justify-self: center;
        height: 15rem !important;
    }

    /* .img-fluid {
    height: 20rem !important; 
    width: 100rem;
    padding: 2rem 0 4rem 0;
} */

    .col {
        height: 150rem !important;
        width: 70rem !important;
        padding: var(--spacing-12);
        border-radius: 5rem !important;
        padding-bottom: 4rem;

    }

    .card {
        display: flex;
        border-radius: 5rem !important;
        width: 90rem !important;

        justify-content: center !important;
        margin: auto 0 !important;
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);


    }

    .card-title {
        font-size: 8.5rem !important;
    }

    .card-text {
        font-size: 8.5rem !important;
    }

    .fotopizza {
        width: 45rem !important;
        height: 45rem;
        padding: 1rem;
    }


    /*resto*/

    .titulosubrayados {
        font-size: 8rem;
    }


    .btn {
        padding: 2rem 4rem;
        border-radius: 1.5rem;
        font-size: 7.5rem !important;

    }




    .iconos__delivery img {
        height: 40rem;
        width: 40rem;
        flex: 1 1 50%;
    }

    .delivery {

        max-width: 100%;
        flex: 1 1 100%;
        padding: var(--spacing-8);
    }

    .iconos__delivery {

        width: 70%;
        height: 70%;
    }

    .historia,
    .container {
        display: flex;
        padding-top: 15rem;
        padding-bottom: 15rem;
    }

    .historia__content {
        display: contents;
    }

    .historia__image {
        display: none;

    }

    .historia__text {
        font-size: 4.8rem;
        display: contents;
    }


    .sucursales-container {
        display: flex;
        flex-direction: column;
        width: 110rem;
        font-size: 2rem;
    }

    .sucursal {
        width: 110rem;
        height: 150rem;

        padding: 2rem;
    }

    .sucursal-titulo {
        font-size: 11.5rem !important;
    }

    .sucursal-texto,
    .sucursal-parrafo {
        font-size: 7.5rem !important;
        padding-bottom: 5rem;


    }

    .sucursal p {

        line-height: var(--spacing-68);
        color: var(--light-bg-solid);
        margin-bottom: var(--spacing-8);
        text-align: center;
        text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 2px 2px 0 black;
    }



    iframe {
        max-width: 70rem;
        max-height: 50rem;
    }


    .footer {
        height: 190rem;

    }

    .footer__rectangle {
        flex-direction: column;
        font-size: 5rem;
    }

    .footer__logo {
        height: 60rem;
        width: 60rem;
        justify-content: center;
        margin-left: 10rem;
    }

    .footer__copy {
        text-align: center;
        width: 100%;
        max-height: 80%;
        padding-top: 5rem;
        font-size: 5rem;
    }


    hr {
        margin-top: 5rem !important;
        margin-bottom: 5rem !important;
    }

    .footer__social {

        font-size: 5rem;
    }



    .copyright {
        text-align: center;
        width: 100%;
        max-height: 15rem;
        font-size: 5rem !important;
    }


    cite {
        text-align: center;
        width: 100%;
        max-height: 20rem;
        font-size: 5rem !important;
    }



}







@media screen and (min-width:280px) and (max-width:401px) {




    .hero {
        height: 130rem;

    }

    .hero__title {
        font-size: 10rem;
    }

    .hero__text {
        font-size: 7rem;
        font-weight: 500;
    }

    .hero__link {
        font-size: 6rem;
    }

    .col {
        height: 120rem !important;
        width: 70rem !important;
        padding: var(--spacing-12);
        border-radius: 5rem !important;
        padding-bottom: 4rem;

    }

    .card {
        display: flex;
        border-radius: 5rem !important;
        width: 70rem !important;

        justify-content: center !important;
        margin: auto 0 !important;
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);


    }

    .card-title {
        font-size: 7.5rem !important;
    }

    .card-text {
        font-size: 6.9rem !important;
    }

    .fotopizza {
        width: 30rem !important;
        height: 30rem;
        padding: 1rem;
    }


    /*resto*/

    .btn {
        padding: 2rem 4rem;
        border-radius: 1.5rem;
        font-size: 7.5rem !important;

    }


    .iconos__delivery img {
        height: 26rem;
        width: 26rem;
        flex: 1 1 50%;
    }

    .delivery {

        max-width: 100%;
        flex: 1 1 100%;
        padding: var(--spacing-8);
    }

    .iconos__delivery {

        width: 70%;
        height: 70%;
    }

    .titulosubrayados {
        font-size: 6.5rem;
    }

    .titulosseparadores {
        font-size: 12rem;
    }

    .sucursales-container {
        display: flex;
        flex-direction: column;
        width: 90rem;
        font-size: 2rem;
    }

    .sucursal {
        width: 90rem;
        height: 150rem;

        padding: 2rem;
    }

    .sucursal-titulo {
        font-size: 10.5rem !important;
    }

    .sucursal-texto,
    .sucursal-parrafo {
        font-size: 7.5rem !important;
        padding-bottom: 5rem;


    }

    .sucursal p {

        line-height: 8rem;
        color: var(--light-bg-solid);
        margin-bottom: var(--spacing-8);
        text-align: center;
        text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 2px 2px 0 black;
    }


    iframe {
        max-width: 60rem;
        max-height: 50rem;
    }


    .historia,
    .container {
        display: flex;
        padding-top: 15rem;
        padding-bottom: 15rem;
    }

    .historia__content {
        display: contents;
    }

    .historia__image {
        display: none;

    }

    .historia__text {
        font-size: 4rem;
        display: contents;
    }

    .footer {
        height: 170rem;

    }

    .footer__rectangle {
        flex-direction: column;
        font-size: 4rem;

    }

    .footer__logo {
        height: 45rem;
        width: 45rem;
        justify-content: center;
        margin-left: 10rem;
    }

    .footer__copy {
        text-align: center;
        width: 100%;
        max-height: 100%;

        font-size: 6rem;
    }

    .footer__button {
        padding-bottom: 3rem;
    }

    hr {
        margin-top: 5rem !important;
        margin-bottom: 5rem !important;
    }

    .footer__social {
        padding-top: 1rem;
        font-size: 4rem;
        margin-bottom: 0;
    }



    .copyright {
        text-align: center;
        width: 100%;
        max-height: 15rem;
        font-size: 5rem;
    }


    cite {
        text-align: center !important;
        width: 100%;
        max-height: 15rem;
        font-size: 5rem !important;
    }


    .fotorandom,
    .st-current {
        width: 10rem !important;
    }

    #random-fox-image {
        width: 50% !important;
        /* O cualquier otro valor de ancho que desees */
    }

}

@media screen and (min-width: 220px) and (max-width: 280px) {

    .col {
        height: 120rem !important;
        width: 70rem !important;
        padding: var(--spacing-12);
        border-radius: 5rem !important;
        padding-bottom: 4rem;

    }

    .card {
        display: flex;
        border-radius: 5rem !important;
        width: 70rem !important;

        justify-content: center !important;
        margin: auto 0 !important;
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);


    }

    .card-title {
        font-size: 7.5rem !important;
    }

    .card-text {
        font-size: 6.9rem !important;
    }

    .fotopizza {
        width: 30rem !important;
        height: 30rem;
        padding: 1rem;
    }

    .btn {
        padding: 2rem 4rem;
        border-radius: 1.5rem;
        font-size: 5.5rem !important;

    }



    .titulosubrayados {
        font-size: 4rem;
    }

    .titulosseparadores {
        font-size: 7rem;
    }

    .sucursales-container {
        display: flex;
        flex-direction: column;
        width: 50rem;
        font-size: 2rem;
    }

    .sucursal {
        width: 50rem;
        height: 150rem;

        padding: 2rem;
    }

    .sucursal-titulo {
        font-size: 10.5rem !important;
    }

    .sucursal-texto,
    .sucursal-parrafo {
        font-size: 7.5rem !important;
        padding-bottom: 5rem;


    }

    .sucursal p {

        line-height: 8rem;
        color: var(--light-bg-solid);
        margin-bottom: var(--spacing-8);
        text-align: center;
        text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 2px 2px 0 black;
    }


    .historia,
    .container {
        display: flex;
        padding-top: 15rem;
        padding-bottom: 15rem;
    }

    .historia__content {
        display: contents;
    }

    .historia__image {
        display: none;

    }

    .historia__text {
        font-size: 3.5rem;
        display: contents;
    }

    .footer {
        height: 130rem;

    }

    .footer__rectangle {
        flex-direction: column;
        font-size: 3rem;
    }

    .footer__logo {
        height: 40rem;
        width: 40rem;
        justify-content: center;
        margin-left: 10rem;
    }

    .footer__copy {
        text-align: center;
        width: 100%;
        max-height: 50%;


    }


    hr {
        margin-top: 5rem !important;
        margin-bottom: 5rem !important;
    }

    .footer__social {
        padding-top: 1rem;
        font-size: 3rem;
        margin-bottom: 0;
    }



    .copyright {
        text-align: center;
        width: 100%;
        max-height: 20rem;
        font-size: 4.5rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
        margin-bottom: 1rem;
    }


    cite {
        text-align: center;
        width: 100%;
        max-height: 20rem;
        padding: 2rem;
        font-size: 4rem !important;
    }


    .fotorandom,
    .st-current {
        width: 10rem !important;
    }
}



/*FIN*/