body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #30343f;
    padding-left: 1em;
    width: 100%;
    position: relative;
    padding-top: 1em;
    padding-bottom: 1em;
}

.txtbox{
    font-size: 1.5rem;
}

.logo{
    width: 40%;
    margin-left: 15em;
}

.logo img {
    width: 60%; /* Tamaño más grande del logo */
    height: auto;
}

.menu {
    list-style: none;
    display: flex;
    gap: 1em;
    align-items: center;
    font-size: 2em;
}

.menu li a {
    color: white;
    text-decoration: none;
    position: relative;
    transition: background-color 0.3s;
    padding: 0.5em;
    display: flex;
    align-items: center;
    gap: var(--spacing-8);
}

.menu li:hover > a {
    background-color: var(--primary-900);
}

.dropdown {
    position: relative;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #444;
    list-style: none;
    border: 1px solid #555;
    z-index: 10;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 0; /* Reducir espacio entre submenu y su margen izquierdo */

}

.submenu a {
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
    white-space: nowrap;
}

.submenu a:hover {
    margin: 0;

}

.dropdown:hover .submenu {
    display: block;
}

.hamburger {
    display: none;
    flex-direction: column;
    gap: 2em;
    cursor: pointer;
}

.hamburger span {
    width: 4em;
    height: 0.2em;
    background-color: white;

}

.carrito {
    margin-right: 2em;
}


@media screen and (max-width: 769px) {
    .menu {
        display: none;
        flex-direction: column;
        gap: 0;
        position: absolute;
        top: 115%;

        background-color: #30343f;
        gap: 1em;
        padding-bottom: 1em;
        z-index: 1000;
        margin-left: 25%;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        border-style: solid;
        border-radius: 1em;

    }

    .menu li {
        padding: 0.5em;
        width: 100%;
        



    }
    .menu li a {
        width: 100%;
        text-align: center;
        font-size: 2em;
    }

    .hamburger {
        display: flex;
        padding-right: 4em;

        /* gap: 2em; */
    }

    .menu.active {
        display: flex;
        width: 75%;
    }

    .submenu {
        position: relative;
        border: none;
        width: 80%;
        border-radius: 0.4em;
        margin-left: 0.5em;
        margin-top: 0.3em;

        
    }
    .submenu li{
        width: 100%;
        

    }

    .hamburger span {
        width: 10em;
        height: 0.7em;
        background-color: white;
        padding-bottom: 1em;
    }
    .logo{
        width: 65%;
        margin-left: 1em;
    }
    .carrito{
        margin-right: 0;
    }
}

@media screen and (min-width:769px) and (max-width:1280px){
    .logo{
        width: 30%;
        margin-left: 1em;
    }
    .logo img{
        width: 100%
    }

    .menu li a {
        width: 100%;
        text-align: center;
        font-size: 0.8em;
    }

}

@media screen and (max-width: 768px){
.logo img {
    width: 80%;
    height: auto;
}
}
